	<div class="row clearfix">
		<div class="col-md-12 column">
			<h1 class="text-center">
				We Implement Ideas That Change The World
			</h1>
			<h3 class="text-center">
				<small><span>The only limit is your imagination</span></small>
			</h3>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<img alt="scheme" src="img/scheme.svg">
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-4 column vcenter">
			<h2>
				In short
			</h2>
			<p class="text-left">
				We are a group of mentors, developers, designers, co-founders who aspire to work on world-significant ideas. We encourage ourselves to give birth to new useful products and positive trends. We won't seek for investors, we'll use our own resources.
				Our long term plan is to get to a larger scale involving not just tech startuppers but people from every sphere of life with odd and audacious ideas of changing current world's matrix. 
				We welcome people who are just learning or seeking themselves, people who have some skills and willing to apply it in something important, people with ideas that are hard to bring to life alone and those who simply wish to support.
			</p>
			<p>
				<a class="btn" href="/about">More »</a>
			</p>
		</div><!--
	--><div class="col-md-4 column vcenter">
	<a href="/projects"><img alt="go for it" src="img/cta.svg"></a>
		</div><!--
	--><div class="col-md-4 column vcenter">
	<img id="img-rnd" alt="images describing world issues" src="img/rnd/Chris-Musina-painting6.jpg">
</div>
</div>
<div class="row clearfix">
	<div class="col-md-2 column vcenter">
		<img alt="change the world" src="img/logo-cap.svg" width="30px">
	</div><!--
	--><div class="col-md-8 column vcenter">
		<form class="form-inline text-center">
			<div class="form-group">
				<input type="text" class="form-control" id="exampleInputName2" placeholder="name">
			</div>
			<div class="form-group">
				<input type="email" class="form-control" id="exampleInputEmail2" placeholder="email">
			</div>
			<span>
				<button type="submit" class="btn btn-primary">Subscribe</button>	
			</span>
			
		</form>
	</div><!--
	--><div class="col-md-2 column vcenter">
		<img alt="money power" src="img/moneypower.svg">
	</div>
</div>
