	<div class="row clearfix">
		<div class="col-md-12 column">
			<img alt="scheme" src="img/scheme.svg">
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-4 column vcenter">
			<h2 class="black-color gotham-font-bold">
				Manifesto
			</h2>
			<p class="text-left black-color justify">
			We haven’t had anything that humanity imagined and fantasized about for the 2000s-era like outer space expeditions, telepathy, teleportation yet. Is it because we’re not smart enough or simply not ready? Our most brilliant minds work for corporations, governments, serve in armies - for everything that exists just for someone’s wealth and control purposes. The rest of us is still struggling for basic needs, health care, human rights respect and peaceful coexistence.
			<p>
				<a class="btn" href="/manifesto">More »</a>
			</p>
		</div><!--
	--><div class="col-md-4 column vcenter logo">
			<a href="/about"><img alt="go for it" src="img/redbut1.svg"></a>
		</div><!--
	--><div class="col-md-4 column vcenter">
			<ul rn-carousel rn-carousel-auto-slide rn-carousel-pause-on-hover rn-carousel-buffered class="ul-img">
				<li ng-repeat="image in rndImages" class="li-img">
					<img ng-src="/img/rnd/{{image}}">
				</li>
			</ul>
		</div>
</div>
<div class="row clearfix">
	<div class="col-md-2 column vcenter">
		<img alt="change the world" src="img/logo1.svg" width="30px">
	</div><!--
--><div class="col-md-8 column vcenter">
<form class="form-inline text-center">
	<div class="form-group">
		<input type="text" class="form-control remove-border-radius" id="exampleInputName2" placeholder="name">
	</div>
	<div class="form-group">
		<input type="email" class="form-control remove-border-radius" id="exampleInputEmail2" placeholder="email">
	</div>
	<span>
		<button type="submit" class="btn btn-primary remove-border-radius">Subscribe</button>	
	</span>

</form>
	</div><!--
--><div class="col-md-2 column vcenter">
<img alt="money power" src="img/monpow.svg">
</div>
</div>
