<div class="container manifesto">
	<p class="c0"><span class="c3">We now know that what unites us is vastly more important than what divides us.</span></p>
	<p class="c0"><span class="c5">(Report of the World Commission on Environment and Development 'Our Common Future'. United Nations, 1987)</span></p>
	<p class="c4"><b>Who we are</b></p>
	<p class="c4">We are the people of various backgrounds with odd and audacious world-changing ideas. We are hackers, nomads, artists, musicians, alt-scientists, startuppers, volunteers, the new medium. Yet we may act as mentors, developers, designers, co-founders, etc. who aspire to work on projects driven by these ideas. We are here to displace stereotypes and biases.</p>
	<p class="c4"><b>What is our matter</b></p>
	<p class="c4">We still have nothing that humanity fantasized for the 3rd millennium like outer space expeditions or teleportation. Industrial revolution has brought nuclear bomb, computers and internet; modern tech age resulted in iPhone and software boom. Eventually this was at most a revolution of marketing and consumption.
	</p>
	<p class="c4">Brilliant minds waste their best years and strongest efforts working for corporations, governments, serving in armies. While others struggle for basic needs, rights respect and peaceful coexistence. Politics, economics and supporting regimes cause unhappiness and wars.</p>
	<p class="c4">Though startups claim their role in evolution, the majority of modern businesses are driven by material profit. Because money and power are believed to be the top achievement in our tribe, there’s no retreat from bringing up new products for some other purposes rather than for wealth and control.</p>
	<p class="c4">On the other hand, lots of people will to give-away and contribute. That is why we created a platform for progressive volunteer activities and trendsetting projects that change society’s stereotypes.</p>
	<p class="c4"><b>What are our principles</b></p>
	<p class="c4">Our projects aimed to generate groundbreaking shifts. The products that we create are set to unite, educate, push the boundaries. We are not just a tech-oriented platform, we act in every sphere of life. Our own time, money, place are our main resources. However we accept crowdfunding and donations.</p>
	<p class="c4"><b>How we are going to stick to our principles</b></p>
	<p class="c4">The most demanded thing nowadays is unity. One person alone is hard to pull a heavy stone. But it makes a huge difference when there’s a team. World-changing projects are feasible when it comes to like-minds all over the world working together.</p>
	<p class="c4">Our focus is the good value of a certain idea. We encourage ourselves to give birth to new useful products and positive trends. Together we create a whole new means and meaning of human evolution.</p>
	<p class="c4">By signing this Manifesto we hereby declare our commitment to:</p>
	<ol class="c7 mine" start="1">
		<li class="c6">Spread our ideas across the world setting new trends of positive global changes;</li>
		<li class="c6">Dedicate our time to work on the projects that help people think and aspire for better; </li>
		<li class="c6">Create new types of jobs and new kinds of volunteer opportunities. </li>
	</ol>
	
</div>