<div class="container-fluid remove-padding bottom-margin-30">
  <div class="row clearfix black-color">
    <div class="col-md-12 vcenter gotham-font-reg projects-static">
      
      <div class="black-border-4 all-margins-10 all-padding-10 project">
        <div class="projects-thumb">
          <div class="row clearfix hcenter js-video [vimeo]">
            <iframe src="https://player.vimeo.com/video/154818929?title=0&byline=0&portrait=0" width="600" height="338" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>  
          </div>
        </div>
        <p><b>IT</b></p>
        <p><b>web and app</b> <a target="_new" href="http://hwnit.org/">hwnit.org</a></p>
        <p><b>About</b></p> 
        <ul>
          <li>Create a profile</li>
          <li>Post goods &amp; services you Have, Want and Need</li>
          <li>Make exchanges using traditional currencies, cryptocurrencies and alternative currencies</li>
          <li>You can also trade, barter and timebank</li>
          <li>Give and receive ratings</li>
          <li>Get active in your community with groups, forums &amp; calendars</li>
          <li>Support locally owned businesses &amp; connect with local resources</li>
        </ul>
        <p><b>Status</b> in progress</p>
        <p><b>Wanted</b> designers, developers</p>  
      </div>
      
      <div class="black-border-4 all-margins-10 all-padding-10 project">
        <div class="projects-thumb">
          <p><img src="img/2sided_example.gif" alt="two sided photo example"></p>
        </div>
        <p><b>DOUBLE-SIDED PHOTO</b></p>
        <p><b>art, exhibition &amp; app</b> Link TBD</p>
        <p><b>About</b> With the help of this media you can visualise the complexity of a certain idea
        or show several perspectives on the same object</p>
        <p><b>Status</b> in progress</p>
        <p><b>Wanted</b> artists, photographers</p>  
      </div>
      
      <div class="black-border-4 all-margins-10 all-padding-10 project">
        <div class="projects-thumb">
          <p><img src="http://placehold.it/200x150?text=Studio+logo" alt="Studio logo TBD"></p>
        </div>
        <p><b>STUDIO</b></p>
        <p><b>art &amp; tech collaborative</b> <a target="_new" href="http://studio.run">studio.run</a></p>
        <p><b>About</b> Located in San Francisco, CA. The Studio is a collaborative cluster of performers.
        It's everything.</p>
        <p><b>Status</b> active</p>
        <p><b>Wanted</b> like-minds</p>
      </div>

    </div>
  </div>
</div>
