<div class="container-fluid remove-padding">
  <div class="row clearfix">
    <div class="col-md-12 vcenter gotham-font-reg projects-static">
        <p>Name: IT</p>
        <p>Type: Web and App</p>
        <p>Link: <a target="_new" href="http://hwnit.org/">hwnit.org</a></p> 
        <p>Thumb:</p>
        <div class="projects-thumb">
          <div class="row clearfix hcenter js-video [vimeo]">
            <iframe src="https://player.vimeo.com/video/154818929?title=0&byline=0&portrait=0" width="600" height="338" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>  
          </div>
        </div>
        <p>About:</p> 
        <ul>
          <li>Create a profile</li>
          <li>Post goods &amp; services you Have, Want and Need</li>
          <li>Make exchanges using traditional currencies, cryptocurrencies and alternative currencies</li>
          <li>You can also trade, barter and timebank</li>
          <li>Give and receive ratings</li>
          <li>Get active in your community with groups, forums &amp; calendars</li>
          <li>Support locally owned businesses &amp; connect with local resources</li>
        </ul>
        <p>Status: in progress</p>
        <p>Wanted: designers, developers</p>
        
        <hr>
        
        <p>Name: Double-sided Photo</p>
        <p>Type: Art, Exhibition &amp; App</p>
        <p>Link: TBD</p>
        <p>Thumb:</p>
        <div class="projects-thumb">
          <p><img src="img/2sided_example.gif" alt="two sided photo example"></p>
        </div>
        <p>About: With the help of this media you can visualise the complexity of a certain idea
        or show several perspectives on the same object</p>
        <p>Status: in progress</p>
        <p>Wanted: artists, photographers</p>
        
        <hr>

        <p>Name: Studio</p>
        <p>Type: Art &amp; Tech Collaborative</p>
        <p>Link: <a target="_new" href="http://studio.run">studio.run</a></p>
        <p>Thumb: Logo Studio TBD</p>
        <p>About: Located in San Francisco, CA. The Studio is a collaborative cluster of performers.
        It's everything</p>
        <p>Status: Active</p>
        <p>Wanted: Like-minds</p>
    </div>
  </div>
</div>
