
@import "../../node_modules/bootstrap/less/bootstrap.less";

body, html {
  width: 80vw;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
@import "_landing";