
@import "../../node_modules/bootstrap/less/bootstrap.less";
@import (inline) '../../node_modules/angular-carousel/dist/angular-carousel.css';

body, html {
  width: 100vw;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

.main-div {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(237,237, 228);
}

.creamy-color {
  background-color: rgb(237,237, 228);
}

.ul-img {
  width: 100%;
  height: 500px;
}

.li-img {
  line-height: 500px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.grayblue-color{
	background-color: rgb(234,243,247);
}

.grey-color{
  background-color: #62625D;
}

.default-color{
  color: #777777;
}

.black-color {
  color: rgb(26,26,26);
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.footer-right-text {
  text-align: left;
  line-height: 2.2;
}

.top-margin-10 {
	margin-top: 10;
}

.bgimage {
    text-align:right;
    color:white;
    background-size:cover;
    height: 100%;
    background-position: center center;
}

.logo {
  padding-left: 25px;
  padding-right: 25px;
}

@import "_landing";